<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Do-n8</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="../styles/index.css" />
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
</head>

<body style="background-image: url('https://images.pexels.com/photos/255527/pexels-photo-255527.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350'); background-size: 100% 700px;background-repeat: no-repeat">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html">Do-n8</a>
      </div>
      <ul class="nav navbar-nav">
        <li>
          <a href="signUp.html">Sign Up Today!</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="login.html">Login</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- <h1 style="text-align: center; font-size: 48px ">Don8</h1> -->
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-4">

      </div>
      <div class="col-xs-4">
        <img src="/images/logo.png" id="home-image">
      </div>
      <div class="col-xs-4">

      </div>
      <p style="text-align:center; margin-top: 250px; font-size: 36px;">
        <i>Do-n8 is all about giving a hand up to those in need.</i>
      </p>
    </div>

  </div>

  <!-- <h2 style="text-align: center;">Types of Donations can include: Food, Clothing, Toiletries, Rides, Money, and Your Time</h2> -->

  <div class="home" style="margin-top: 400px">
    <div class="login-screen ">
      <div class="login-form row ">
        <div class="col-xs-4">
          <a href="donate.html">
            <button class="btn btn-success">
              I want to donate
            </button>
          </a>
        </div>
        <div class="col-xs-4 "></div>
        <div class="col-xs-4 ">
          <a href="request.html">
            <button class="btn btn-success">
              I have a need
            </button>
          </a>
        </div>
        <br>
      </div>
    </div>
  </div>
  <div style="background: linear-gradient(white, green)">
    <h2 style="text-align: center;">Types of Donations can include:
      <!-- <span id="donationType">Food</span> -->
    </h2>
    <img src="/images/food.jpg" style="height: 170px; width: 250px; display:block;margin:20px auto;" id="donationImg" />
    <!-- <form action="/home " method="POST ">
    <div class="home ">
      <div class="login-screen ">
        <div class="login-form row ">
          <div class="col-xs-5 ">
            <input type="submit " value="I have something to donate" class="btn btn-primary ">
          </div>
          <div class="col-xs-2 "></div>
          <div class="col-xs-5 ">
            <input type="submit " value="I have a need" class="btn btn-primary ">
          </div>
          <br>
        </div>
      </div>
    </div>
  </form> -->

    <h3 style="text-align: center">Recent Activity:</h3>
    <div id="feed">

    </div>
  </div>
  <script>
    var images = ["/images/food.jpg", "/images/clothing.jpg", "/images/rides.jpg", "/images/volunteers.jpg", "/images/training.jpg", "/images/money.jpg"];
    var donationType = ["Food", "Items", "Rides", "Money", "Your Time"];
    var count = 0;
    setInterval(function () {
      // $("span").text(donationType[count])
      $("#donationImg").attr("src", images[count]);
      count++
      if (count >= images.length) {
        count = 0;
      }
    }, 3000)
  </script>
</body>

</html>