<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Don8</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="../styles/index.css" />
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html">Don8</a>
      </div>
      <ul class="nav navbar-nav">
        <li>
          <a href="signUp.html">Sign Up Today!</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="login.html">Login</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- <h1 style="text-align: center; font-size: 48px ">Don8</h1> -->
  <img class="img-circle" src="/images/hedgehog.jpg" id="home-image">
  <!-- <h2 style="text-align: center;">Types of Donations can include: Food, Clothing, Toiletries, Rides, Money, and Your Time</h2> -->
  <div class="home ">
    <div class="login-screen ">
      <div class="login-form row ">
        <div class="col-xs-5 ">
          <a href="donate.html">
            <button class="btn btn-primary">
              I have something to donate
            </button>
          </a>
        </div>
        <div class="col-xs-2 "></div>
        <div class="col-xs-5 ">
          <a href="request.html">
            <button class="btn btn-primary">
              I have a need
            </button>
          </a>
        </div>
        <br>
      </div>
    </div>
  </div>
  <h2 style="text-align: center;">Types of Donations can include:
    <!-- <span id="donationType">Food</span> -->
  </h2>
  <img src="/images/food.jpg" style="height: 150px; width: 200px; display:block;margin:20px auto;" id="donationImg" />
  <!-- <form action="/home " method="POST ">
    <div class="home ">
      <div class="login-screen ">
        <div class="login-form row ">
          <div class="col-xs-5 ">
            <input type="submit " value="I have something to donate" class="btn btn-primary ">
          </div>
          <div class="col-xs-2 "></div>
          <div class="col-xs-5 ">
            <input type="submit " value="I have a need" class="btn btn-primary ">
          </div>
          <br>
        </div>
      </div>
    </div>
  </form> -->

  <h3 style="text-align: center">Recent Activity:</h3>
  <div id="feed">

  </div>
  <script>
    var dogImages = ["/images/food.jpg", "/images/clothes.jpg", "https://images.pexels.com/photos/460823/pexels-photo-460823.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", "https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350", "https://images.pexels.com/photos/59523/pexels-photo-59523.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350"];
    var donationType = ["Food", "Items", "Rides", "Money", "Your Time"];
    var count = 0;
    setInterval(function () {
      // $("span").text(donationType[count])
      $("#donationImg").attr("src", dogImages[count]);
      count++
      if (count >= donationType.length) {
        count = 0;
      }
    }, 3000)
  </script>
</body>

</html>