<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/signUp.css" />
</head>

<body>
    <a style="font-size: 16px; margin-top: 5px" href="index.html">
        Back to Home
    </a>
    <div class="signUpPage">

        <form method="POST" class="signUpForm">
            <h2 class="signUpHeader"> What type of donation are you requesting?</h2>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputEmail4">Title</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Title">
                </div>
            </div>
            <label for="inputEmail4">Description</label>
            <div class="form-row">
                <!-- <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Password</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                </div> -->

                <textarea style="width:100%" rows="10"></textarea>
            </div>
            <div class=" form-row ">
                <div class="form-group col-md-6 ">
                    <label for="inputEmail4 ">User Name</label>
                    <input type="email " class="form-control " id="inputEmail4 " placeholder="User Name ">
                </div>
                <div class="form-group col-md-6 ">
                    <label for="inputPassword4 ">Zip Code</label>
                    <input type="password " class="form-control " id="inputPassword4 " placeholder="Zip Code ">
                </div>
            </div>
            <div class="row signUpFooter ">
                <div class="col-md-4 "></div>
                <div class="col-md-4 ">
                    <button type="submit " class="btn btn-success btn-block">Submit Request</button>
                </div>
                <div class="col-md-4 "></div>
            </div>
        </form>
    </div>


</body>

</html>