h2{
    text-align: center;
    padding-bottom: 80px;
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
}

/* .main{
    background: linear-gradient(white, green);
}

.causes{
    background-color: white;
    width: 75%;
    margin: 0 auto;
} */
.main-center{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
    justify-content: center;
    margin-bottom: 20px;
}
.cause{
    width: 200px;
    height: 200px;
    margin-right: 30px;
    background-repeat: no-repeat;
    background-size:contain;
}

.cause .text {
    visibility:hidden;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    line-height: 200px; 
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.cause:hover .text {
    visibility:visible;
}

.cause input.selected::after {
    font-family: nf-icon;
    content: '\e894';
    font-size: 18px;
    color: red;
    position: absolute;
    top: 50%;
    right: 7px;
    margin-top: -10px;
}

.cause-image-header{
    display: none;
    font-family: 'Poppins', sans-serif;
}

.women{
    background-image: url('../images/women.jpg');
}

.hunger{
    background-image: url('../images/food.jpeg');
}
.education{
    background-image: url('../images/education.jpg');
}

.housing{
    background-image: url('../images/housing.jpg');
}

.recovery{
    background-image: url('../images/recovery.jpg');
}

.workforce{
    background-image: url('../images/workforce.jpg');
}

.literacy{
    background-image: url('../images/literacy.jpg');
}

.equity{
    background-image: url('../images/equity.jpg');
}

.animal{
    background-image: url('../images/animal.jpg');
}

.environment{
    background-image: url('../images/environemnt.jpg');
}

.religion{
    background-image: url('../images/religion.jpg');
}
.cause:hover{
    background-color: rgba(255,255,255,0.8);
    background-blend-mode: lighten;
}