#feed {
  height: 400px;
  width: 60%;
  display: block;
  margin: auto;
  border: 2px solid#ccc;
  background: white;
  padding: 50px;
  margin-bottom: 100px;
}

.accept {
  text-shadow: 2px 2px lightgreen;
  text-align: center;
  color: green;
  font-weight: bold;
  margin-top: 80px;
}

.logoHeader {
  font-family: "Poppins", sans-serif;
  color: green;
}

.gradient {
  height: 100%;
}

.login-form {
  display: block;
  width: 80%;
  margin: 50px auto;
  font-family: "Poppins", sans-serif;
}

.btn {
  font-size: 26px;
  padding: 20px;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

#home-image {
  display: block;
  margin-top: 30px;
  height: 200px;
  width: 100%;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  height: 250px;
  font-family: "Poppins", sans-serif;
}

* {
  font-family: "Poppins", sans-serif;
}

#All {
  overflow: scroll;
  height: 200px;
}
